/**
 * Shared CSS -> Links
 */

/**
* Media queries
*/

/* Universal */

/* Custom */

:root {
  --spacing-small: 1.5rem;
  --spacing-medium: 3rem;
  --spacing-large: 6rem;
  --spacing-extra-large: 8.5rem;
}

/* Padding */

.spacing-module--control--34ba4.spacing-module--padding_top_none--40322 {
    padding-top: 0;
  }

.spacing-module--control--34ba4.spacing-module--padding_top_small--e821d {
    padding-top: 1.5rem;
    padding-top: var(--spacing-small);
  }

.spacing-module--control--34ba4.spacing-module--padding_top_medium--5beed {
    padding-top: 3rem;
    padding-top: var(--spacing-medium);
  }

.spacing-module--control--34ba4.spacing-module--padding_top_large--3b2fd {
    padding-top: 6rem;
    padding-top: var(--spacing-large);
  }

.spacing-module--control--34ba4.spacing-module--padding_top_extra_large--094eb {
    padding-top: 8.5rem;
    padding-top: var(--spacing-extra-large);
  }

.spacing-module--control--34ba4.spacing-module--padding_bottom_none--291df {
    padding-bottom: 0;
  }

.spacing-module--control--34ba4.spacing-module--padding_bottom_small--052a0 {
    padding-bottom: 1.5rem;
    padding-bottom: var(--spacing-small);
  }

.spacing-module--control--34ba4.spacing-module--padding_bottom_medium--d2121 {
    padding-bottom: 3rem;
    padding-bottom: var(--spacing-medium);
  }

.spacing-module--control--34ba4.spacing-module--padding_bottom_large--c2bc1 {
    padding-bottom: 6rem;
    padding-bottom: var(--spacing-large);
  }

.spacing-module--control--34ba4.spacing-module--padding_bottom_extra_large--a9c2f {
    padding-bottom: 8.5rem;
    padding-bottom: var(--spacing-extra-large);
  }

@media (max-width: 767px) {
    .spacing-module--control--34ba4.spacing-module--padding_top_medium--5beed {
      padding-top: 2.4rem;
      padding-top: calc(var(--spacing-medium)*0.8);
    }

    .spacing-module--control--34ba4.spacing-module--padding_top_large--3b2fd {
      padding-top: 4.8rem;
      padding-top: calc(var(--spacing-large)*0.8);
    }

    .spacing-module--control--34ba4.spacing-module--padding_top_extra_large--094eb {
      padding-top: 6.8rem;
      padding-top: calc(var(--spacing-extra-large)*0.8);
    }

    .spacing-module--control--34ba4.spacing-module--padding_bottom_medium--d2121 {
      padding-bottom: 2.4rem;
      padding-bottom: calc(var(--spacing-medium)*0.8);
    }

    .spacing-module--control--34ba4.spacing-module--padding_bottom_large--c2bc1 {
      padding-bottom: 4.8rem;
      padding-bottom: calc(var(--spacing-large)*0.8);
    }

    .spacing-module--control--34ba4.spacing-module--padding_bottom_extra_large--a9c2f {
      padding-bottom: 6.8rem;
      padding-bottom: calc(var(--spacing-extra-large)*0.8);
    }
}

@media screen and (max-width: 600px) {
    .spacing-module--control--34ba4.spacing-module--padding_top_extra_large--094eb {
      padding-top: 5.1rem;
      padding-top: calc(var(--spacing-extra-large)*0.6);
    }

    .spacing-module--control--34ba4.spacing-module--padding_bottom_extra_large--a9c2f {
      padding-top: 5.1rem;
      padding-top: calc(var(--spacing-extra-large)*0.6);
    }
}

/**
 * Pagebuilder -> components -> CTA
 */

.CTA-module--root--82fdd {
  position: relative;
  z-index: 50;
  text-align: center;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

.CTA-module--labelBelow--c9682 {
  padding: 0 calc(var(--gutter)/2);
}

.CTA-module--isLink--7ca79 {
  font-size: 1.2rem;
  font-weight: var(--font-weight-bold);
}

/**
 * Pagebuilder -> components -> Header
 */

div.Header-module--root--93271 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: calc(var(--gutter)*2);
}

.Header-module--root--93271 .Header-module--sub--4ed10 {
  line-height: 1.45;
  width: 100%;
}

.Header-module--root--93271 .Header-module--sub__link--7a7cc {
  font-weight: var(--font-weight-bold);
}

.Header-module--root--93271 .Header-module--title--00d76 {
  width: 100%;
  position: relative;
  letter-spacing: -0.05em;
  z-index: 0;
}

.Header-module--root--93271 .Header-module--eyebrow--a4b88 {
  width: 100%;
}

/**
 * Badge
 */

.Header-module--badge--b86e6 {
  width: 100px;
  margin: 0 auto var(--gutter) auto;
}

.Header-module--badge--b86e6 img {
    width: 100%;
  }

@media screen and (min-width: 600px) {
  .Header-module--badge--b86e6 {
    position: absolute;
    transform: translate(-75%, -75%);
    margin: 0;
  }
}

/**
 * Pagebuilder -> components -> Section
 */

/**
* Media queries
*/

/* Universal */

/* Custom */

.Section-module--root--93447 {
  background-color: var(--color-fill-default);
  position: relative;
  z-index: 2;
}

.Section-module--floatOnTop--b9422 {
  z-index: 50;
}

/* Content alignment */

.Section-module--contentAlignment__left--0e4a8 .section__header {
    text-align: left;
    justify-content: flex-start;
  }

.Section-module--contentAlignment__left--0e4a8 .section__cta {
    text-align: left;
  }

/* Text color */

.Section-module--text_color_light--35b3d {
  color: var(--color-text-light);
}

.Section-module--text_color_dark--3d1a3 {
  color: var(--color-text-default);
}

/* Background Colors */

.Section-module--background_color_lightgray_fade_white--3789b {
  background: linear-gradient(0deg, #fff 0%, var(--color-gray-5) 100%);

  --section-background-color: var(--color-gray-5);
}

.Section-module--background_color_lightgray--2992e,
.Section-module--background_color_blue_gradient--3b975 {
  background-color: var(--color-gray-5);

  --section-background-color: var(--color-gray-5);
}

.Section-module--background_color_darkgray--a47e2 {
  background-color: var(--color-gray-7);

  --section-background-color: var(--color-gray-7);
}

.Section-module--background_color_purple--56d29 {
  background-color: var(--color-zoltad-purple);
  color: #fff;

  --section-background-color: var(--color-zoltad-purple);
}

.Section-module--background_color_dark_green--2ca9f {
  background-color: var(--color-summit-green);
  color: #fff;

  --section-background-color: var(--color-summit-green);
}

.Section-module--background_color_light_blue--98002 {
  background-color: var(--color-light-blue);

  --section-background-color: var(--color-light-blue);
}

.Section-module--background_color_yellow--29642 {
  background-color: var(--color-yellow);

  --section-background-color: var(--color-yellow);
}

.Section-module--background_color_default--3a25f {
  background-color: var(--color-ground);

  --section-background-color: var(--color-ground);
}

.Section-module--background_color_blue_gradient--3b975 {
  color: #fff;
  background: linear-gradient(0deg, #6adaf7 -49.71%, #2da0d2 107.27%);

  --text-highlight-fill: var(--color-border-dark-blue);
}

.Section-module--background_color_blue_gradient--3b975::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(1.1deg, #6adaf7 0.94%, #008cbe 69.02%);
    z-index: -2;
    pointer-events: none;
  }

.Section-module--background_color_gray_gradient--819c0 {
  color: #fff;
  background: var(--gradient-gray-to-dark-gray);

  --text-highlight-fill: var(--color-border-dark-blue);
  --section-background-color: var(--gradient-gray-to-dark-gray);
  --section-page-rip-downwards-background-color: var(--gradient-gray-to-dark-gray-color-1);
  --section-page-rip-upwards-background-color: var(--gradient-gray-to-dark-gray-color-2);
}

/* Page Rip */

.Section-module--hasPageRip--4dd69 {
  z-index: 1;
}

div.Section-module--pageRip--36de0.Section-module--top--f4108 {
    transform: rotate(180deg) !important;
  }

div.Section-module--pageRip--36de0.Section-module--bottom--8c28a {
    transform: rotate(0deg) !important;
  }

/**
 * FormGroup
 */

.FormGroup-module--root--f5bae {
  position: relative;
}

.FormGroup-module--root--f5bae + .FormGroup-module--root--f5bae {
  margin-top: calc(var(--gutter)*2);
}

/**
 * Alert
 */

.Alert-module--root--a210e + .Alert-module--root--a210e {
  margin-top: var(--alert-stacked-margin-top);
}

.Alert-module--inner--fa5ab {
  min-height: var(--alert-min-height);
  font-size: var(--alert-font-size);
  display: flex;
  align-items: center;
  width: 100%;
  line-height: var(--alert-line-height);
  text-align: left;
  border-radius: var(--alert-border-radius);
  border: 1px solid;
}

.Alert-module--inner--fa5ab a,
  .Alert-module--inner--fa5ab button {
    font-size: inherit;
  }

[dir='rtl'] .Alert-module--inner--fa5ab {
  text-align: right;
}

/**
 * Content
 */

.Alert-module--content--5c0a4 {
  flex: 1 1;
  align-self: center;
  padding: var(--alert-padding-vertical) var(--alert-padding-horizontal);
}

.Alert-module--content--5c0a4 strong {
    font-weight: var(--font-weight-medium);
  }

/**
 * Icon
 */

.Alert-module--icon--a22ee {
  margin: 0 0 0 var(--alert-padding-horizontal);
  min-height: var(--alert-min-height);
  font-size: 0.9rem;
}

[dir='rtl'] .Alert-module--icon--a22ee {
  margin: 0 var(--alert-padding-horizontal);
}

/**
 * Appearances
 */

.Alert-module--appearance_default--f34bf {
  background-color: var(--alert-default-fill);
  color: var(--alert-default-color);
  border-color: var(--alert-default-border-color);
}

.Alert-module--appearance_error--eaa17 {
  background-color: var(--alert-error-fill);
  color: var(--alert-error-color);
  border-color: var(--alert-error-border-color);
}

.Alert-module--appearance_error--eaa17 .Alert-module--icon--a22ee svg {
    fill: var(--color-danger);
  }

.Alert-module--appearance_success--f72c6 {
  background-color: var(--alert-success-fill);
  color: var(--alert-success-color);
  border-color: var(--alert-success-border-color);
}

.Alert-module--appearance_success--f72c6 .Alert-module--icon--a22ee svg {
    fill: var(--color-success);
  }

.Alert-module--appearance_warning--c447d {
  background-color: var(--alert-warning-fill);
  color: var(--alert-warning-color);
  border-color: var(--alert-warning-border-color);
}

.Alert-module--appearance_warning--c447d .Alert-module--icon--a22ee svg {
    fill: var(--color-warning);
  }

/**
 * Transition
 */

.Alert-module--enter--2c52c {
  opacity: 0;
  transform: translateY(-10px);
}

.Alert-module--enterActive--347e3 {
  transform: translateY(0);
  opacity: 1;
  transition: opacity 200ms, transform 200ms;
}

.Alert-module--exit--e18cc {
  opacity: 1;
}

.Alert-module--exitActive--15c79 {
  transform: translateY(-10px);
  opacity: 0;
  transition: opacity 200ms, transform 300ms;
}

/**
 * Pagebuilder -> sections -> Hero -> ImageBreakpoints
 */

.ImageBreakpoints-module--image--1ef5c {
  width: 100%;
  margin: auto;
  position: relative;
  padding-top: 0;
  transition: padding-top 0.7s;
}

.ImageBreakpoints-module--image--1ef5c.ImageBreakpoints-module--hasLogoSprinkle--83bcf {
    padding-top: 3.25rem !important;
  }

/* & :global(.gatsby-image-wrapper img) { */

/* transition: opacity .1s linear !important; */

/* transition: none !important; */

/* } */

.ImageBreakpoints-module--image__inner--65d63 {
  width: 100%;
}

/**
 * Label
 */

.HelperText-module--root--91c88 {
  font-size: var(--helper-text-font-size);
  font-weight: var(--helper-text-font-weight);
  color: var(--helper-text-color);
  display: inline-flex;
  line-height: 1.35;
}

.HelperText-module--iconWrap--428bf {
  margin-right: 0.4rem;
}

.HelperText-module--error--1747b {
  color: var(--color-danger);
}

.HelperText-module--success--da5e9 {
  color: var(--color-success);
}

.HelperText-module--info--390ac {
  color: var(--color-info);
}

/**
 * Sections -> Hero -> Layouts -> Split Image Layout
 */

.SplitImageLayout-module--root--b0da4 {
  /* overflow: hidden; */
}

.SplitImageLayout-module--content--21e2c {
  display: flex;
  width: 100%;
  justify-content: center;
}

.SplitImageLayout-module--start--13dd4,
.SplitImageLayout-module--end--a182a {
  width: 100%;
  min-width: 400px;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.SplitImageLayout-module--center--629f9 {
  display: flex;
  flex-direction: column;
}

.SplitImageLayout-module--cta-vertical-alignment-top--8d2be .SplitImageLayout-module--center--629f9 {
  justify-content: flex-start;
}

.SplitImageLayout-module--cta-vertical-alignment-center--5cd40 .SplitImageLayout-module--center--629f9 {
  justify-content: center;
}

/**
 * Input
 */

.Input-module--root--74f0b {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Input-module--root--74f0b.Input-module--appearanceDefault--254f1 {
  border: 2px solid var(--input-border-color);
  background-color: var(--input-base-fill);
  min-height: var(--input-min-height);
  font-size: var(--input-font-size);
  border-radius: var(--input-border-radius);
}

.Input-module--root--74f0b.Input-module--appearanceDefault--254f1.Input-module--isFocused--be64a {
  border-color: var(--input-border-color-focus);
  background-color: var(--input-fill-focus);
}

.Input-module--input--50490 {
  border: 0;
  font-size: var(--input-font-size);
  width: 100%;
  min-height: var(--input-min-height);
  padding: 0 var(--input-field-horizontal-padding);
  outline: 0;
  flex: 1 1;
  background-color: transparent;
  min-width: 0;
  color: var(--input-color);
}

.Input-module--input--50490::placeholder {
    color: var(--input-placeholder-color);
  }

.Input-module--root--74f0b.Input-module--appearanceDefault--254f1.Input-module--readOnly--41b56 {
  background-color: var(--gray-4);
  border-color: var(--input-border-color);
}

.Input-module--hasStartSection--645ff .Input-module--input--50490 {
  padding-left: 0;
}

.Input-module--hasEndSection--67c5b .Input-module--input--50490 {
  padding-right: 0;
}

.Input-module--root--74f0b.Input-module--appearanceProminent--cbf50 {
  border: 0;
  background-color: transparent;
  min-height: auto;
}

.Input-module--root--74f0b.Input-module--appearanceProminent--cbf50.Input-module--isFocused--be64a {
    border-color: transparent;
    background-color: transparent;
  }

.Input-module--root--74f0b.Input-module--appearanceProminent--cbf50.Input-module--error--9a927 {
    border-color: transparent;
    background-color: transparent;
  }

.Input-module--root--74f0b.Input-module--appearanceProminent--cbf50 .Input-module--input--50490 {
    background-color: var(--color-fill-default);
    border-radius: var(--border-radius-extra-large);
    border: 6px solid var(--color-border-dark-blue);
    box-shadow: var(--box-shadow-solid-gray-small);
    padding: 0.7rem 1.05rem;
    line-height: 1;
    font-size: 1rem;
    transition:
      background-color 0.2s ease-in-out,
      box-shadow 0.2s ease-in-out;
    color: var(--color-text-default);
  }

.Input-module--root--74f0b.Input-module--appearanceProminent--cbf50 .Input-module--input--50490:hover,
    .Input-module--root--74f0b.Input-module--appearanceProminent--cbf50 .Input-module--input--50490:focus-visible {
      background-color: var(--color-gray-6);
      box-shadow: var(--box-shadow-solid-gray);
    }

.Input-module--root--74f0b.Input-module--appearanceProminent--cbf50 .Input-module--input--50490:focus-visible {
      border-color: var(--color-blue-4);
    }

.Input-module--root--74f0b.Input-module--appearanceProminent--cbf50 .Input-module--input--50490::placeholder {
      color: var(--color-gray-8);
    }

.Input-module--root--74f0b.Input-module--appearanceProminent--cbf50.Input-module--error--9a927 .Input-module--input--50490 {
    border-color: var(--input-error-color);
  }

.Input-module--input--50490[type='number']::-webkit-inner-spin-button,
.Input-module--input--50490[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

/**
 * Inline label
 */

.Input-module--inlineLabel--ff0c0 {
  color: var(--color-figure-62);
  font-style: italic;
  padding: 0 0.25em;
  font-size: 0.95em;
}

/**
 * Start- and -end sections
 */

.Input-module--renderStart--24286,
.Input-module--renderEnd--a80cb {
  padding: 0 calc(var(--gutter)/2);
  height: 100%;
  display: flex;
  align-items: center;
}

/**
 * Disabled
 */

.Input-module--isDisabled--4a486,
.Input-module--root--74f0b input.Input-module--input--50490:disabled {
  background-color: var(--input-disabled-fill);
}

/**
 * Error
 */

.Input-module--root--74f0b.Input-module--appearanceDefault--254f1.Input-module--error--9a927,
.Input-module--root--74f0b.Input-module--appearanceDefault--254f1.Input-module--isFocused--be64a.Input-module--error--9a927 {
  border-color: var(--input-error-color);
  background-color: var(--input-error-fill);
}

/**
* Size
*/

.Input-module--root--74f0b.Input-module--sizeLarge--f349d {
  min-height: 3.3rem;
}

@media screen and (max-width: 500px) {
  .Input-module--root--74f0b.Input-module--sizeLarge--f349d {
    min-height: 2.5rem;
  }
}

/**
 * Label
 */

.Label-module--root--54645 {
  display: flex;
  margin-bottom: var(--form-label-margin-bottom);
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Label-module--root--54645.Label-module--appearanceProminent--70459 {
    margin-left: 0.3rem;
  }

.Label-module--asterisk--b94a6 {
  color: var(--color-danger);
  margin-left: 0.3rem;
}

.Label-module--requiredLabel--49d36 {
  margin-left: 0.3rem;
  font-weight: var(--font-weight-regular);
}

.Label-module--root--54645 .Label-module--start--f8b67 {
  font-weight: var(--form-label-font-weight);
  font-size: var(--form-label-font-size);
}

.Label-module--root--54645.Label-module--bold--cca14 .Label-module--start--f8b67 {
  font-weight: var(--font-weight-bold);
}

.Label-module--end--6f9be {
  padding-left: var(--gutter);
}

.Label-module--end--6f9be > * {
    margin-top: 0;
  }

/**
 * Dirty indicator
 */

.Label-module--dirty--f69c9::after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background-color: var(--color-secondary);
  border-radius: 999px;
  position: absolute;
  left: calc(var(--gutter)*-1);
  top: 50%;
  transform: translateY(-50%);
}

.HubspotNewsletterForm-module--root--3b463 {
  position: relative;
  z-index: 999;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 1.5rem;
}

button.HubspotNewsletterForm-module--businessModelButton--0f0a4 {
  min-width: 12rem;
  border-width: 1px;
  min-height: 3rem;
}

.HubspotNewsletterForm-module--form--a9da6 {
  text-align: center;
  width: 100%;
  max-width: 28rem;
  margin-top: 2rem;
}

.HubspotNewsletterForm-module--form__submitButton--5c12b {
  margin-top: 1.5rem;
  max-width: 22rem;
}

.HubspotNewsletterForm-module--error--9fc78 {
  margin-top: 1rem;
}

@media screen and (max-width: 635px) {
  div.HubspotNewsletterForm-module--businessModelButtons--19424 {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .HubspotNewsletterForm-module--root--3b463 {
    max-width: 30rem;
    margin: auto;
  }

  .HubspotNewsletterForm-module--root--3b463 button.HubspotNewsletterForm-module--businessModelButton--0f0a4 {
    width: 100%;
    margin: 0;
  }

    .HubspotNewsletterForm-module--root--3b463 button.HubspotNewsletterForm-module--businessModelButton--0f0a4:not(:last-child) {
      margin-bottom: 1rem;
    }
}

/**
 * Sections -> Hero -> Layouts -> Left aligned CTA
 */

.LeftAlignedCTA-module--root--00c7a.LeftAlignedCTA-module--container--c96c8 {
  display: flex;
  align-items: center;
  max-width: 1125px;
}

.LeftAlignedCTA-module--start--51701 {
  flex: 1 0;
  order: 1;
}

.LeftAlignedCTA-module--end--d23f4 {
  width: 100%;
  max-width: 400px;
  order: 2;
}

.LeftAlignedCTA-module--imagePosition__left--7009f .LeftAlignedCTA-module--start--51701 {
    order: 2;
    padding-left: calc(var(--gutter)*5);
  }

.LeftAlignedCTA-module--imagePosition__left--7009f .LeftAlignedCTA-module--end--d23f4 {
    order: 1;
  }

/**
 * Responsive
 */

@media screen and (min-width: 1000px) {
  .LeftAlignedCTA-module--root--00c7a.LeftAlignedCTA-module--container--c96c8 div.LeftAlignedCTA-module--start--51701 {
    flex: 1 0;
  }

    .LeftAlignedCTA-module--root--00c7a.LeftAlignedCTA-module--container--c96c8 div.LeftAlignedCTA-module--start--51701 > * {
      text-align: left;
      align-items: flex-start;
    }
}

@media screen and (max-width: 1000px) {
  .LeftAlignedCTA-module--root--00c7a.LeftAlignedCTA-module--container--c96c8 {
    flex-direction: column;
  }

  .LeftAlignedCTA-module--end--d23f4 {
    margin-top: var(--gutter);
  }

  .LeftAlignedCTA-module--root--00c7a div.LeftAlignedCTA-module--start--51701 {
    padding: var(--gutter) !important;
    order: 0;
  }
}

/**
* Media queries
*/

/* Universal */

/* Custom */

.SecondaryCTA-module--root--17f87 {
  text-align: center;
  margin: calc(var(--gutter)*4) 0;
}

.SecondaryCTA-module--imageLink--281ad {
  display: flex;
  margin: auto;
  max-width: 15rem;
}

@media (max-width: 500px) {
  .SecondaryCTA-module--root--17f87 {
    margin: calc(var(--gutter)*2.5) 0;
  }
}

/**
 * Pagebuilder -> sections -> Hero
 */

div.Hero-module--overflowHidden--f800f {
  overflow: hidden;
}

.TextCarousel-module--text--cae6d {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.TextCarousel-module--inner--b0319 {
  display: inline-block;
  will-change: transform, opacity;
}

.TextCarousel-module--inner--b0319.TextCarousel-module--enter--04474 {
  animation: TextCarousel-module--slide-in--7f781 600ms forwards;
}

.TextCarousel-module--inner--b0319.TextCarousel-module--exit--19d9e {
  position: absolute;
  left: 0;
  top: 0;
  animation: TextCarousel-module--slide-out--38186 600ms forwards;
}

@keyframes TextCarousel-module--slide-in--7f781 {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  60% {
    opacity: 1;
    transform: translateY(20%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes TextCarousel-module--slide-out--38186 {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  60% {
    opacity: 0;
    transform: translateY(120%);
  }

  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

.Captions-module--inner--2913a {
  position: relative;
  display: flex;
  width: 100%;
}

.Captions-module--caption--a6c0d img.Captions-module--caption__arrow--3b05b {
  position: absolute;
  height: auto;
  z-index: -1;
}

.Captions-module--caption--a6c0d img.Captions-module--arrow_1--778ec {
  width: 7rem;
  right: 0;
  top: 75%;
}

.Captions-module--caption--a6c0d img.Captions-module--arrow_2--50d4c {
  width: 2.7rem;
  left: 50%;
  transform: translate(-50%, 100%);
}

.Captions-module--caption--a6c0d img.Captions-module--arrow_3--41e96 {
  width: 2.1rem;
  left: 50%;
  transform: translate(-50%, 100%);
}

.Captions-module--caption--a6c0d img.Captions-module--arrow_4--177f8 {
  width: 7rem;
  transform: translate(-20%, 50%);
}

.Captions-module--caption--a6c0d {
  position: absolute;
  list-style: none;
}

.Captions-module--caption--a6c0d.Captions-module--caption_1--38e4d {
    left: 0;
    bottom: 30%;
    transform: translate(-125%, 0);
  }

.Captions-module--caption--a6c0d.Captions-module--caption_1--38e4d img.Captions-module--arrow_1--778ec {
      right: 0;
      transform: translateX(30%);
    }

.Captions-module--caption--a6c0d.Captions-module--caption_2--ed248 {
    left: 0;
    top: 5%;
    transform: translateX(-110%);
  }

.Captions-module--caption--a6c0d.Captions-module--caption_3--eeb7f {
    top: 0;
    left: 0;
    transform: translate(-25%, -200%);
  }

.Captions-module--caption--a6c0d.Captions-module--caption_4--3346e {
    top: 0;
    right: 0;
    transform: translate(-20%, -100%);
  }

.Captions-module--caption--a6c0d.Captions-module--caption_5--49582 {
    top: 16%;
    right: 0;
    transform: translate(120%, -20%);
  }

.Captions-module--captions--d2706 {
  position: absolute;
  inset: 0;
  opacity: 0;
  transform: translateY(-1rem);
  transition:
    opacity 0.3s,
    transform 0.3s;
}

.Captions-module--caption__inner--27775 {
  position: relative;
  display: flex;
}

div.Captions-module--caption__label--7dd12 {
  background-color: var(--color-fill-default);
  color: var(--color-blue-5);
  padding: 0.6rem 1.15rem;
  white-space: nowrap;
  line-height: 1;
  border-radius: 4rem;
  border: 6px solid var(--color-border-dark-blue);
  box-shadow: var(--box-shadow-solid-gray);
  position: relative;
  z-index: 2;
}

.Captions-module--animated--a50e7 .Captions-module--captions--d2706 {
    opacity: 1;
    transform: translateY(0);
    transition:
      opacity 0.3s,
      transform 0.3s;
    transition-delay: 0.3s;
  }

@media screen and (max-width: 1470px) {
  .Captions-module--captions--d2706 {
    inset: 2rem;
  }
}

@media screen and (max-width: 1215px) {
  .Captions-module--captions--d2706 {
    display: none;
  }
}

div.hero-section-layout-halloween_manila_folder {
  color: var(--color-text-light);
  background: linear-gradient(1.02deg, #c7bcff 8.44%, #7170b2 71.36%);
  padding: 4.5rem 0 0 !important;

  --text-highlight-fill: var(--color-border-dark-blue);
}

div.hero-section-layout-manila_folder {
  /* color: var(--color-text-light);
  background: var(--gradient-blue-to-darker-blue); */
  padding: 4.5rem 0 0 !important;

  --text-highlight-fill: var(--color-border-dark-blue);
}

.ManilaFolderHero-module--root--7ec89 {
  flex: 1 1;
}

.ManilaFolderHero-module--root--7ec89 h2 {
    margin-top: 0.5rem;
  }

.ManilaFolderHero-module--container--99090 {
  position: relative;
}

.ManilaFolderHero-module--illustration--7c447 {
  width: 100%;
  margin: 0 auto;
  display: flex;
  max-width: 70%;
  margin-top: 3rem;
}

.ManilaFolderHero-module--illustration--7c447 img {
    width: 100%;
    height: auto;
  }

.ManilaFolderHero-module--illustration__wrapper--22ab2 {
  width: 100%;
  opacity: 0;
  transform: translateY(1rem);
  transition:
    opacity 0.1s,
    transform 0.3s;
}

.ManilaFolderHero-module--cloud--20b80 {
  position: absolute;
  width: 4rem;
}

.ManilaFolderHero-module--clouds--0a69e {
  opacity: 0;
  transition: opacity 0.3s;
  transition-delay: 0.1s;
}

.ManilaFolderHero-module--loaded--b8741 .ManilaFolderHero-module--illustration__wrapper--22ab2,
  .ManilaFolderHero-module--loaded--b8741 .ManilaFolderHero-module--clouds--0a69e {
    opacity: 1;
    transform: translateY(0);
  }

.ManilaFolderHero-module--theme_default--f34ae .ManilaFolderHero-module--illustration--7c447 {
    margin-bottom: 1.4rem;
  }

@media screen and (min-width: 920px) {
  .ManilaFolderHero-module--floatingContentContainer--630f9 {
    position: relative;
    max-width: 90rem;
    margin: 0 auto;
  }

  .ManilaFolderHero-module--clouds--0a69e {
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 70%;
    pointer-events: none;
    top: -10%;
  }

  .ManilaFolderHero-module--cloud_1--c1765,
  .ManilaFolderHero-module--cloud_4--f0d24 {
    bottom: 0;
  }

  .ManilaFolderHero-module--cloud_2--ab6f5 {
    left: 10%;
  }

  .ManilaFolderHero-module--cloud_1--c1765 {
    left: 0;
  }

  .ManilaFolderHero-module--cloud_3--64f6d {
    right: 10%;
  }

  .ManilaFolderHero-module--cloud_4--f0d24 {
    right: 0;
  }

  .ManilaFolderHero-module--bats--54361 {
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 70%;
    pointer-events: none;
    top: 0;

    --bat-size: 7.5rem;
  }

  .ManilaFolderHero-module--bat_left--df213 {
    left: 5%;
    top: 20%;
  }

  .ManilaFolderHero-module--bat_right--6827e {
    right: 5%;
    top: 15%;
  }
}

@media screen and (max-width: 1024px) {
  .ManilaFolderHero-module--illustration--7c447 {
    max-width: 90%;
  }
}

@media screen and (max-width: 920px) {
    :scope .ManilaFolderHero-module--theme_halloween--16c21 .ManilaFolderHero-module--illustration--7c447 {
      margin-top: 7.5rem;
    }

  .ManilaFolderHero-module--bats--54361 {
    --bat-size: 4rem;
  }

  .ManilaFolderHero-module--bat_right--6827e {
    top: 1.5rem;
    right: 1.5rem;
  }

  .ManilaFolderHero-module--bat_left--df213 {
    left: 1.5rem;
    margin-top: 2rem;
  }

  .ManilaFolderHero-module--cloud--20b80 {
    width: 3rem;
  }

  .ManilaFolderHero-module--cloud_1--c1765 {
    top: 2rem;
    left: 1rem;
  }

  .ManilaFolderHero-module--cloud_2--ab6f5 {
    right: 2.5rem;
    top: 28%;
  }

  .ManilaFolderHero-module--cloud_3--64f6d {
    right: 4rem;
    margin-top: 2rem;
  }

  .ManilaFolderHero-module--cloud_4--f0d24 {
    bottom: 2rem;
    left: 1rem;
  }
    .ManilaFolderHero-module--theme_default--f34ae .ManilaFolderHero-module--cloud--20b80 {
      width: 2.5rem;
    }

    .ManilaFolderHero-module--theme_default--f34ae .ManilaFolderHero-module--cloud_3--64f6d,
    .ManilaFolderHero-module--theme_default--f34ae .ManilaFolderHero-module--cloud_4--f0d24 {
      display: none;
    }
}

@media screen and (max-width: 660px) {
    .ManilaFolderHero-module--root--7ec89 h1 {
      max-width: 11em;
    }

      .ManilaFolderHero-module--root--7ec89 h1 br {
        display: none;
      }

  .ManilaFolderHero-module--clouds--0a69e {
    top: 1.2rem;
    position: absolute;
    right: 0;
    left: 0;
  }
}

.Bats-module--batContainer--73336 {
  position: absolute;
  animation: Bats-module--bat-bob--796d0 6s ease-in-out infinite;
  animation: Bats-module--bat-bob--796d0 var(--bat-duration, 6s) ease-in-out infinite;
  animation-delay: 0s;
  animation-delay: var(--bat-delay, 0s);
}

.Bats-module--batImage--c3baf {
  width: 7.5rem;
  width: var(--bat-size, 7.5rem);
  height: 7.5rem;
  height: var(--bat-size, 7.5rem);
  animation: Bats-module--bat-rotate--b5650 6s ease-in-out infinite;
  animation: Bats-module--bat-rotate--b5650 var(--bat-duration, 6s) ease-in-out infinite;
  animation-delay: 0s;
  animation-delay: var(--bat-delay, 0s);
  display: block;
  transform-origin: center;
}

@keyframes Bats-module--bat-bob--796d0 {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-1.5rem);
    transform: translateY(calc(var(--bat-bob-amount, 1.5rem)*-1));
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(-1.5rem);
    transform: translateY(calc(var(--bat-bob-amount, 1.5rem)*-1));
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes Bats-module--bat-rotate--b5650 {
  0% {
    transform: rotateZ(0deg);
  }

  25% {
    transform: rotateZ(15deg);
    transform: rotateZ(var(--bat-rotation-amount, 15deg));
  }

  50% {
    transform: rotateZ(0deg);
  }

  75% {
    transform: rotateZ(-15deg);
    transform: rotateZ(calc(var(--bat-rotation-amount, 15deg)*-1));
  }

  100% {
    transform: rotateZ(0deg);
  }
}

