/**
 * Components -> Avatar
 */

.Avatar-module--root--496c9 {
  display: flex;
  align-items: center;
}

.Avatar-module--avatar--5db80 {
  margin-right: calc(var(--gutter)*0.75);
  background-color: var(--color-gray-4);
  border-radius: 999px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: rgba(0, 0, 0, 0.2);
  font-size: 32px;
  flex-shrink: 0;
}

.Avatar-module--avatar--5db80 img {
    border-radius: 999px;
  }

.Avatar-module--avatar__image--abe79 {
  height: 100%;
  width: 100%;
}

.Avatar-module--title--42439 {
  margin-top: 0.186rem;
  opacity: 0.8;
}

/* Sizes */

.Avatar-module--size__medium--3b137 .Avatar-module--avatar--5db80 {
    width: 48px;
    height: 48px;
  }

.Avatar-module--size__large--1e187 .Avatar-module--avatar--5db80 {
    width: 120px;
    height: 120px;
    margin-right: calc(var(--gutter)*1.5);
    font-size: 80px;
  }

.Avatar-module--size__large--1e187 .Avatar-module--name--95cd6,
  .Avatar-module--size__large--1e187 .Avatar-module--title--42439 {
    font-size: 1.1rem;
  }

/* Vertical */

.Avatar-module--root--496c9.Avatar-module--vertical--b3861 {
  flex-direction: column;
}

.Avatar-module--root--496c9.Avatar-module--vertical--b3861 .Avatar-module--avatar--5db80 {
    margin: 0 0 var(--gutter) 0;
  }

.Avatar-module--root--496c9.Avatar-module--vertical--b3861 .Avatar-module--title--42439 {
    margin-top: calc(var(--gutter)*0.5);
    line-height: 1.35;
  }

@media screen and (max-width: 400px) {
    .Avatar-module--size__large--1e187 .Avatar-module--avatar--5db80 {
      width: 65px;
      height: 65px;
      margin-right: calc(var(--gutter)*1.5);
      font-size: 40px;
    }
}

/**
 * Shared CSS -> Links
 */

/**
* Media queries
*/

/* Universal */

/* Custom */

:root {
  --spacing-small: 1.5rem;
  --spacing-medium: 3rem;
  --spacing-large: 6rem;
  --spacing-extra-large: 8.5rem;
}

/* Padding */

.spacing-module--control--34ba4.spacing-module--padding_top_none--40322 {
    padding-top: 0;
  }

.spacing-module--control--34ba4.spacing-module--padding_top_small--e821d {
    padding-top: 1.5rem;
    padding-top: var(--spacing-small);
  }

.spacing-module--control--34ba4.spacing-module--padding_top_medium--5beed {
    padding-top: 3rem;
    padding-top: var(--spacing-medium);
  }

.spacing-module--control--34ba4.spacing-module--padding_top_large--3b2fd {
    padding-top: 6rem;
    padding-top: var(--spacing-large);
  }

.spacing-module--control--34ba4.spacing-module--padding_top_extra_large--094eb {
    padding-top: 8.5rem;
    padding-top: var(--spacing-extra-large);
  }

.spacing-module--control--34ba4.spacing-module--padding_bottom_none--291df {
    padding-bottom: 0;
  }

.spacing-module--control--34ba4.spacing-module--padding_bottom_small--052a0 {
    padding-bottom: 1.5rem;
    padding-bottom: var(--spacing-small);
  }

.spacing-module--control--34ba4.spacing-module--padding_bottom_medium--d2121 {
    padding-bottom: 3rem;
    padding-bottom: var(--spacing-medium);
  }

.spacing-module--control--34ba4.spacing-module--padding_bottom_large--c2bc1 {
    padding-bottom: 6rem;
    padding-bottom: var(--spacing-large);
  }

.spacing-module--control--34ba4.spacing-module--padding_bottom_extra_large--a9c2f {
    padding-bottom: 8.5rem;
    padding-bottom: var(--spacing-extra-large);
  }

@media (max-width: 767px) {
    .spacing-module--control--34ba4.spacing-module--padding_top_medium--5beed {
      padding-top: 2.4rem;
      padding-top: calc(var(--spacing-medium)*0.8);
    }

    .spacing-module--control--34ba4.spacing-module--padding_top_large--3b2fd {
      padding-top: 4.8rem;
      padding-top: calc(var(--spacing-large)*0.8);
    }

    .spacing-module--control--34ba4.spacing-module--padding_top_extra_large--094eb {
      padding-top: 6.8rem;
      padding-top: calc(var(--spacing-extra-large)*0.8);
    }

    .spacing-module--control--34ba4.spacing-module--padding_bottom_medium--d2121 {
      padding-bottom: 2.4rem;
      padding-bottom: calc(var(--spacing-medium)*0.8);
    }

    .spacing-module--control--34ba4.spacing-module--padding_bottom_large--c2bc1 {
      padding-bottom: 4.8rem;
      padding-bottom: calc(var(--spacing-large)*0.8);
    }

    .spacing-module--control--34ba4.spacing-module--padding_bottom_extra_large--a9c2f {
      padding-bottom: 6.8rem;
      padding-bottom: calc(var(--spacing-extra-large)*0.8);
    }
}

@media screen and (max-width: 600px) {
    .spacing-module--control--34ba4.spacing-module--padding_top_extra_large--094eb {
      padding-top: 5.1rem;
      padding-top: calc(var(--spacing-extra-large)*0.6);
    }

    .spacing-module--control--34ba4.spacing-module--padding_bottom_extra_large--a9c2f {
      padding-top: 5.1rem;
      padding-top: calc(var(--spacing-extra-large)*0.6);
    }
}

/**
 * Pagebuilder -> components -> CTA
 */

.CTA-module--root--82fdd {
  position: relative;
  z-index: 50;
  text-align: center;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

.CTA-module--labelBelow--c9682 {
  padding: 0 calc(var(--gutter)/2);
}

.CTA-module--isLink--7ca79 {
  font-size: 1.2rem;
  font-weight: var(--font-weight-bold);
}

/**
 * Pagebuilder -> components -> Header
 */

div.Header-module--root--93271 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: calc(var(--gutter)*2);
}

.Header-module--root--93271 .Header-module--sub--4ed10 {
  line-height: 1.45;
  width: 100%;
}

.Header-module--root--93271 .Header-module--sub__link--7a7cc {
  font-weight: var(--font-weight-bold);
}

.Header-module--root--93271 .Header-module--title--00d76 {
  width: 100%;
  position: relative;
  letter-spacing: -0.05em;
  z-index: 0;
}

.Header-module--root--93271 .Header-module--eyebrow--a4b88 {
  width: 100%;
}

/**
 * Badge
 */

.Header-module--badge--b86e6 {
  width: 100px;
  margin: 0 auto var(--gutter) auto;
}

.Header-module--badge--b86e6 img {
    width: 100%;
  }

@media screen and (min-width: 600px) {
  .Header-module--badge--b86e6 {
    position: absolute;
    transform: translate(-75%, -75%);
    margin: 0;
  }
}

/**
 * Pagebuilder -> components -> Section
 */

/**
* Media queries
*/

/* Universal */

/* Custom */

.Section-module--root--93447 {
  background-color: var(--color-fill-default);
  position: relative;
  z-index: 2;
}

.Section-module--floatOnTop--b9422 {
  z-index: 50;
}

/* Content alignment */

.Section-module--contentAlignment__left--0e4a8 .section__header {
    text-align: left;
    justify-content: flex-start;
  }

.Section-module--contentAlignment__left--0e4a8 .section__cta {
    text-align: left;
  }

/* Text color */

.Section-module--text_color_light--35b3d {
  color: var(--color-text-light);
}

.Section-module--text_color_dark--3d1a3 {
  color: var(--color-text-default);
}

/* Background Colors */

.Section-module--background_color_lightgray_fade_white--3789b {
  background: linear-gradient(0deg, #fff 0%, var(--color-gray-5) 100%);

  --section-background-color: var(--color-gray-5);
}

.Section-module--background_color_lightgray--2992e,
.Section-module--background_color_blue_gradient--3b975 {
  background-color: var(--color-gray-5);

  --section-background-color: var(--color-gray-5);
}

.Section-module--background_color_darkgray--a47e2 {
  background-color: var(--color-gray-7);

  --section-background-color: var(--color-gray-7);
}

.Section-module--background_color_purple--56d29 {
  background-color: var(--color-zoltad-purple);
  color: #fff;

  --section-background-color: var(--color-zoltad-purple);
}

.Section-module--background_color_dark_green--2ca9f {
  background-color: var(--color-summit-green);
  color: #fff;

  --section-background-color: var(--color-summit-green);
}

.Section-module--background_color_light_blue--98002 {
  background-color: var(--color-light-blue);

  --section-background-color: var(--color-light-blue);
}

.Section-module--background_color_yellow--29642 {
  background-color: var(--color-yellow);

  --section-background-color: var(--color-yellow);
}

.Section-module--background_color_default--3a25f {
  background-color: var(--color-ground);

  --section-background-color: var(--color-ground);
}

.Section-module--background_color_blue_gradient--3b975 {
  color: #fff;
  background: linear-gradient(0deg, #6adaf7 -49.71%, #2da0d2 107.27%);

  --text-highlight-fill: var(--color-border-dark-blue);
}

.Section-module--background_color_blue_gradient--3b975::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(1.1deg, #6adaf7 0.94%, #008cbe 69.02%);
    z-index: -2;
    pointer-events: none;
  }

.Section-module--background_color_gray_gradient--819c0 {
  color: #fff;
  background: var(--gradient-gray-to-dark-gray);

  --text-highlight-fill: var(--color-border-dark-blue);
  --section-background-color: var(--gradient-gray-to-dark-gray);
  --section-page-rip-downwards-background-color: var(--gradient-gray-to-dark-gray-color-1);
  --section-page-rip-upwards-background-color: var(--gradient-gray-to-dark-gray-color-2);
}

/* Page Rip */

.Section-module--hasPageRip--4dd69 {
  z-index: 1;
}

div.Section-module--pageRip--36de0.Section-module--top--f4108 {
    transform: rotate(180deg) !important;
  }

div.Section-module--pageRip--36de0.Section-module--bottom--8c28a {
    transform: rotate(0deg) !important;
  }

.AddToCalendarLinks-module--root--0a8b9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.AddToCalendarLinks-module--item--f81d8 {
  display: block;
  max-width: 300px;
  margin-bottom: 1rem;
  width: 100%;
}

/* Hacky stuff to get calendly looking nicely */
.CalendlyEmbed-module--root--dae52 .calendly-inline-widget {
  z-index: 1;
  margin: auto;
  position: relative;
  max-width: 1000px;
  height: 675px !important;
}
@media screen and (max-width: 1014px) {
  .CalendlyEmbed-module--root--dae52 .calendly-inline-widget {
    /* width: 900px; */
    height: 1100px !important;
  }
}
@media screen and (max-width: 675px) {
    .CalendlyEmbed-module--root--dae52 .calendly-inline-widget {
      width: 470px;
      height: 850px !important;
    }
}
@media screen and (max-width: 498px) {
    .CalendlyEmbed-module--root--dae52 .calendly-inline-widget {
      width: 100%;
      /* height: 1045px !important; */
    }
}

/**
 * Pagebuilder -> sections -> ThankYou
 */

div.ThankYou-module--section--3b754 {
  padding-top: 15vw !important;
  opacity: 0;
  transition: opacity 1s;
  min-height: 44rem;
  overflow: hidden;
}

.ThankYou-module--content--722b2 {
  font-size: 1.25rem;
  position: relative;
  z-index: 2;
  max-width: 52rem;
  margin: auto;
  line-height: 1.7;
  padding: 0 calc(var(--gutter)*2);
}

.ThankYou-module--container--a9f19 {
  max-width: 80%;
  transform: translateY(-20px);
  transition: transform 0.2s;
}

.ThankYou-module--ready--9df32 {
  opacity: 1 !important;
}

.ThankYou-module--ready--9df32 .ThankYou-module--container--a9f19 {
    transform: translateY(0);
  }

.ThankYou-module--signature--6c48e {
  margin: calc(var(--gutter)*2.5) 0 calc(var(--gutter)*1.5) 0;
  max-width: 16rem;
}

.ThankYou-module--confetti--cad3e {
  position: absolute;
  top: 0;
  z-index: 1;
  pointer-events: none;
  background-image: url(/static/confetti.6b779a59.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  background-position: top center;
  left: -5rem;
  right: -5rem;
}

/* Hacky stuff to get calendly looking nicely */

.ThankYou-module--calendly--0cdd3 .calendly-inline-widget {
  z-index: 1;
  margin: auto;
  position: relative;
  width: 1000px;
  height: 675px !important;
}

@media screen and (max-width: 1024px) {
  .ThankYou-module--calendly--0cdd3 .calendly-inline-widget {
    width: 650px;
    /* height: 1150px !important; */
  }
}

@media screen and (max-width: 675px) {
    .ThankYou-module--calendly--0cdd3 .calendly-inline-widget {
      width: 470px;
      /* height: 980px !important; */
    }
}

@media screen and (max-width: 930px) {
  .ThankYou-module--content--722b2 {
    max-width: 80%;
  }
}

@media screen and (max-width: 498px) {
  .ThankYou-module--content--722b2 {
    max-width: 95%;
    font-size: 1.05rem;
  }

  .ThankYou-module--signature--6c48e {
    max-width: 12rem;
  }
    .ThankYou-module--calendly--0cdd3 .calendly-inline-widget {
      width: 100%;
      /* height: 1045px !important; */
    }
}

@media screen and (max-width: 400px) {
  div.ThankYou-module--section--3b754 {
    padding-top: 4rem !important;
  }
}

@media screen and (min-width: 1300px) {
  div.ThankYou-module--section--3b754 {
    padding-top: 10rem !important;
  }
}

